.submit{
    color: aliceblue;
    background-color: darkblue;
    border-radius: 25px;
}
body{
    background-color: blanchedalmond;
    align-content: center;
}
p{
    color: darkblue;
    font-family: fantasy;
    font-weight:bold;
}
input{
    font-family: fantasy;
}
