<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Movies</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Recommendations For {{ user_image6 }}</h1>
        <div class="recommendations">
            <div class="recommendation">
                <h2>1. {{ name1 }}</h2>
                <img src="{{ user_image1 }}" alt="Recommended Movie">
            </div>
            <div class="recommendation">
                <h2>2. {{ name2 }}</h2>
                <img src="{{ user_image2 }}" alt="Recommended Movie">
            </div>
            <div class="recommendation">
                <h2>3. {{ name3 }}</h2>
                <img src="{{ user_image3 }}" alt="Recommended Movie">
            </div>
            <div class="recommendation">
                <h2>4. {{ name4 }}</h2>
                <img src="{{ user_image4 }}" alt="Recommended Movie">
            </div>
            <div class="recommendation">
                <h2>5. {{ name5 }}</h2>
                <img src="{{ user_image5 }}" alt="Recommended Movie">
            </div>
            <div class="recommendation">
                <h2>6. {{ name6 }}</h2>
                <img src="{{ user_image7 }}" alt="Recommended Movie">
            </div>
        </div>
        <a href="{{ url_for('recom') }}" class="btn">Go Back To Search</a>
    </div>
</body>
</html>
