<!DOCTYPE html>
<html>
<head>
    <title>RECOMMENDED MOVIES</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <center>
        <h2>Recommendations For {{user_image6}}  are</h2><br/>
        <p>THE FIRST RECOMMENDATION IS</p></br>
        <img src="{{user_image1}}" alt="{{user_image1}}"><br>
        <p>THE SECOND RECOMMENDATION IS</p></br>
        <img src="{{user_image2}}" alt="{{user_image2}}"><br>
        <p>THE THIRD RECOMMENDATION IS</p></br>
        <img src="{{user_image3}}" alt="{{user_image3}}"><br>
        <p>THE FOURTH RECOMMENDATION IS</p></br>
        <img src="{{user_image4}}" alt="{{user_image4}}"><br>
        <p>THE FIFTH RECOMMENDATION IS</p></br>
        <img src="{{user_image5}}" alt="{{user_image5}}"><br>
    </center>
    <center><a href="http://127.0.0.1:5000/"">Click Here To Go Back To Search</a></center>
</body>
</html>